:root{
    --colorSize : 30px
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #775c03;
    font-family: sans-serif;
}
#container {
    position: relative;
    width: 1450px;
    margin: 50px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.itemsContainer {
    width: 30%;
    display: inline-flex;
    margin-left:30px ;
    
    height: 540px;
    background-color: #ffff;
    border-radius: 15px;
    transition: all 0.3s;
}
.itemsContainer:hover{
    width: 30%;
    display: inline-flex;
    margin-left:30px ;
    height: 540px;
    background-color: #b0e3e8 ;
    border-radius: 15px;
    transform: translateY(-20px);
    
    
}


.items {
    width: 91%;
    margin: 16px auto;
    height: 91%;
    border-radius: 15px;
    overflow: hidden;
    /* background-color: rgb(20, 204, 127); */
    position: relative;
}
.items img {
    width: 100%;
    height: 230px;
}
.items h2 {
    font-size: 25px;
    margin-top: 8px;
}
.items p{
    margin-top: -10px;
}
.price {
    position: absolute;
    
    bottom: 60px;
    color: rgb(16, 207, 16);
}
.colorDiv{
    position: absolute;
    bottom: 0px;
}
.itemsColor{
    width: var(--colorSize);
    height: var(--colorSize);
    border-radius: 50%;
    display: inline-flex;
    border: solid 1px black;
}
.itemsColor:hover {
    cursor: pointer;
}
.red{
    background-color: red;
}
.gray {
    
    background-color: gray;
}
.yellow {
    
    background-color: yellow;
}
.items button{
    position: absolute;
    right: 0px;
    bottom: 10px;
    
    width: 130px;
    background-color: rgb(16, 207, 16);
    height: 45px;
    border-radius: 5px;
    text-align: center;
    border: none;
    transition: all 0.3s;
}
.items button:hover {
    cursor: pointer;
    background-color: rgb(10, 170, 10);

}
#products {
    
    bottom: 18px;
    position: fixed;
    
}
#products button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #e61a1a;
    color: white;
    

}
#products button svg {
    width: 20px;
    height: 20px;
}
#products button:hover {
    background-color: #851010;
    width: 80px;
    height: 80px;
    transition: all 0.3s;
}
#cover{
    width: 800px;
    display: none;
    position: fixed;
    height: 500px;
    border-radius: 20px;
    background-color: #dbdbdb;
    
}
#cover button{
    background-color: #dbdbdb;
    border: none;
    position: absolute;
    right:10px;
    top: 10px;
}
#cover button svg {
    fill: #e30707;
    width: 20px;
    padding: 5px;
    height: 20px;
}
#cover button svg:hover{
    cursor: pointer;
}